.list-group {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 10px !important;
    border: 0px solid !important;
}

.list-group-item.active > a {
    color: white !important;
}

a {
    text-decoration: none;
}