<ul class="list-group">
    <li class="list-group-item fBold" routerLinkActive="active">
        <a [routerLink]="[ '/admin/posts/new']">Nueva Publicación</a>
    </li>
    <li class="list-group-item fBold" routerLinkActive="active">
        <a [routerLink]="[ '/admin/posts/list']" routerLinkActive="active">Publicaciones</a>
    </li>
    <li class="list-group-item fBold" routerLinkActive="active">
        <a [routerLink]="[ '/admin/categoria/list']" routerLinkActive="active">Categorias</a>
    </li>
    <li class="list-group-item fBold" routerLinkActive="active">
        <a [routerLink]="[ '/admin/serie/list']" routerLinkActive="active">Series</a>
    </li>
    <li class="list-group-item fBold">
        <a (click)="logout()" class="font-red">Cerrar Sesión</a>
    </li>
</ul>