.card-overlay {
    box-shadow: $shadow-carousel;
    border-radius: 25px !important;
}

.card-img-overlay {
    top: initial !important;
    color: white !important;
}

.card-overlay img {
    border-radius: 25px !important;
}

.card-text {
    font-size: 17px !important;
}