<footer class="footer mt-auto py-3 bgAlternative">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <a href="#" class="social"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="social"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="social"><i class="fab fa-youtube"></i></a>
                    <a href="#" class="social"><i class="fab fa-github"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="footer mt-auto py-3 bgSecondary">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <p class="text">Todos los derechos reservados <strong class="fBold">Jordy Santamaria</strong> © 2021</p>
                    <p class="text">Version 1.0.0Alpha</p>
                </div>
            </div>
        </div>
    </div>
</footer>