.title {
    font-size: 45px !important;
}

.description {
    font-size: 20px !important;
}

.carousel-item img, .carousel-item, .carousel-inner {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 30px !important;
}