<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-3">
            <app-list-group-admin></app-list-group-admin>
        </div>
        <div class="col-9">
            <div class="card p-4">
                <h3 class="fBold">Publicaciones</h3>
                <table class="table mb-3">
                    <thead>
                        <tr>
                            <th class="fMedium">Entrada</th>
                            <th class="fMedium">Serie</th>
                            <th class="fMedium">Fecha</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let post of posts; let i = index">
                            <td>{{ post.titulo }}</td>
                            <td>{{ post.subcategoria }}</td>
                            <td>{{ formatDate(post.created_at) }}</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm" [routerLink]="[ '/admin/posts/update', post.id ]">
                                    <i class="fas fa-pen"></i>
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm" (click)="alertEliminar(post.id, i)">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <app-pagination
                    [current]="currentPagination"
                    [links]="linksPagination"
                    [paginate]="paginate"></app-pagination>
            </div>
        </div>
    </div>
</div>