.card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 25px !important;
}

.card-img-overlay {
    top: initial !important;
    color: white !important;
}

.card img {
    border-radius: 25px !important;
}

.card-text {
    font-size: 17px !important;
}